<div class="container mt-5">
    <div class="row mt-5">
      <div class="col-sm-8 offset-sm-2">
         <div class=" mb-4 wrapper form-wrapper">
        <form [formGroup]="myReactiveForm" (submit)="onSubmit()">
            <div class="row pt-5 px-5">
              <div class="col-md-6  form-group">
                <label for="fname">First Name</label>
                <input id="fname"  formControlName="firstName" type="text" class="form-control">
              </div>
              <div class="col-md-6  form-group">
                <label for="lname">Last Name</label>
                <input id="lname"  formControlName="lastName" type="text" class="form-control" >
              </div>
            </div>
            <div class="row pt-5 px-5">
                <div class="col-md-6 form-group">
                    <label for="">How should we contact you?</label>
                    <select class="w-100 h-50" (click)="onclick($event)" #inputEle>
                        <option value="">Choose option</option>
                        <option *ngFor="let std of studentArr" >{{std}}</option>
                    </select>
                      
                </div>

                <div class="col-md-6 form-group" [ngSwitch]="val">
                  <div *ngSwitchCase="'Phone'">
                      <label for="Phone">Phone Number</label>
                      <input id="Phone"  formControlName="ContactNumber"  type="text" class="form-control" >
                  </div>
                  <div  *ngSwitchCase="'Email'">
                      <label for="Email">Email Address</label>
                  <input id="Email"  formControlName="EmailId"  type="email" class="form-control" >
                 </div>
              </div>
            </div>
            <button class="btn btn-sm btn-primary ml-5 mt-4"  type="submit">submit</button>
          </form>
</div>
</div>
</div>
</div>


